* {
    padding: 0;
    margin: 0;
    margin-block-start: 0;
    margin-block-end: 0;
    
}

body {
    color: white;
    background-color: #070625;
    font-family: 'Roboto Mono', monospace;
}

header {
    padding: 2em;
    border-bottom: 1px solid rgba(255, 255, 255, 0.13);
    margin-bottom: 5em;
    display: flex;
}

h2.logo_plants {
    flex: 2;
    text-transform: uppercase;
    
}

.plant_information {
    display: flex;
    flex-wrap: wrap;
    margin: 0 10rem;
    position: relative;
}

.plant_image {
    min-height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 3;
    padding: 1em;
}

.plant-content {
    background-color: blue;
    flex: 1;
    min-width: 400px;
    display: flex;
    flex-direction: column;
}

.plant-content p {
    padding-bottom: 1.5em;

}
.plant_statics {
    background-color: green;
    min-height: 200px;
    width: 100%;
}

nav.nav_plants ul {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    flex: .4;
    width: 100%;
}

nav.nav_plants {
    flex: 1;
}

nav.nav_plants ul li {
    padding-left: 1.5em;
}

nav.nav_plants ul li a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
}

h1.plant_name {
    font-size: 5em;
    padding-bottom: 0.10em;
}

#gray_text {
    color: #b1b1b9;
    font-weight: 700;
}

#gray_text a {
    color: white;
}